
bsv_build/

*.log

bin/

src/uncore/debug/RBB_Shakti\.o

verilog/

\.Xil/

fpga/

verification/tools/AAPG/result/

verification/tools/AAPG/__pycache__/

verification/tests/directed/benchmarks/outputfiles/
